[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=/usr/bin/curve_fix/cfg/FIX44.xml
HttpAcceptPort=9911
ResetOnLogon=Y

# standard config elements

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SenderCompID=CURVE_PROD
TargetCompID=FLEX_PROD
SocketConnectHost=185.22.242.37
SocketConnectPort=23500
SocketConnectHost1=185.22.242.37
SocketConnectPort1=23500
SocketConnectHost2=185.22.242.37
SocketConnectPort2=23500
HeartBtInt=30

