[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=../cfg/FIXSpecs/FIX44.xml
HttpAcceptPort=9911
ResetOnLogon=Y

# standard config elements

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.4
SenderCompID=FIXUAT16-ORD
TargetCompID=TTUAT-ORD
SocketConnectHost=212.118.233.228
SocketConnectPort=51020
SocketConnectHost1=212.118.233.228
SocketConnectPort1=51020
SocketConnectHost2=212.118.233.228
SocketConnectPort2=51020
HeartBtInt=30
Test=10